:root {
    --ui: #F4E04B;
    --ui_light: #998e3e;
    --darkgrey: #363636;
    --grey: #7e7e7e;
    --lightgrey: #969696;
  }
  
body {
    margin:0;
    padding:0;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {display: block;}

.interface {
    display: none;
}

.caption {
    display: flex;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    letter-spacing: 0.02em;
    position: absolute;
    left: 2vh;
    bottom: 0;
    margin: 24px 16px;
    color: var(--darkgrey);
    color: rgb(0, 0, 0);
}

.buttons {
    display: flex;
    position: absolute;
    top: 0;
    right: 4vh;
    justify-content: flex-end;
}

.material, .sound {
    display: flex;
    z-index: 3;
    width: 64px;
    height: 64px;
    margin: 24px 16px;
    cursor: pointer;
}

.material:hover svg {
    stroke:var(--ui_light);
}
.sound:hover svg {
    fill:var(--ui_light);
}
.sound {
    display: none;
}

.material svg {
    stroke: var(--ui);
}
.sound svg{
    fill: var(--ui);
}
.sound.playing > .line {
    margin-left: 44px;
}

.line {
    width: 12px;
    height: 28px;
    border-bottom: 2px solid var(--ui);
    position: absolute;
    margin-left: 29px;
    transition: margin-left 200ms;
}

.arrow-wrap{
    position: absolute;
    display:flex;
    top: 0;
    bottom:0;
    width:100%;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    z-index: 3;
    padding: 8px;
    margin:2%;
    fill: var(--ui);
    fill: var(--grey);
}
.arrow svg {
    width: 6vh;
}

.arrow:hover, .arrow:active  {
    fill: var(--ui_light);
    fill: var(--lightgrey);
    cursor: pointer;
}


@media only screen and (max-width: 1080px) {
    .arrow-wrap {
        align-items: flex-end;
        justify-content: flex-end;
    }
    .arrow {
        margin:8px;
    }
    .arrow svg {
        width: 12vh;
    }
}

@media screen and (max-width: 940px) {
    .arrow svg {
        width: 8vh;
    }
}