:root {
    --ui: #F4E04B;
    --ui_light: #998e3e;
    --grey: #858585;
    --grey_light: #979797;
  }

@font-face {
    font-family: "Space Gro";
    src: url(./SpaceGrotesk.woff2) format("woff2");
}

@-moz-document url-prefix() {
    .caption-wrap {
        font-weight: lighter !important;
    }
}

body {
    margin:0;
    padding:0;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {display: block;}

.interface {display: none;}

.caption-wrap {
    font-family: "Space Gro";
    font-size: 20px;
    position: absolute;
    left: 18vw;
    bottom: 8vh;
    margin: 24px 16px;
    color: black;
}

.buttons {
    display: flex;
    position: absolute;
    top: 0;
    right: 4vw;
    justify-content: flex-end;
}

.material, .sound {
    z-index: 3;
    width: 64px;
    height: 64px;
    margin: 24px 16px;
    cursor: pointer;
}

.material:hover svg {
    stroke: var(--ui_light);
}

.sound:hover svg {
    fill: var(--ui_light);
}

.sound {
    display: none;
}

.material svg {
    stroke: var(--ui);
}

.sound svg{
    fill: var(--ui);
}

.sound.playing > .line {
    margin-left: 44px;
    transition: margin-left 200ms;
}

.line {
    width: 12px;
    height: 28px;
    border-bottom: 2px solid var(--ui);
    position: absolute;
    margin-left: 29px;
    transition: margin-left 100ms;
}

.arrow-wrap{
    position: absolute;
    display:flex;
    top: 0;
    bottom:0;
    width:100%;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    z-index: 3;
    padding: 8px;
    margin:2%;
    fill: var(--grey);
}

.arrow:hover {
    fill: var(--grey_light);
    cursor: pointer;
}

@media only screen and (max-width: 1080px) {
    .arrow-wrap {
        align-items: flex-end;
        justify-content: flex-end;
    }
    .arrow {
        margin: 8px;
    }
    .caption-wrap {
        left: 2vw;
        bottom: 0;
        margin-bottom:16px;
    }
}

@media only screen and (max-width: 940px) {
    .material,.sound {
        margin: 16px;
        margin-left: 0;
    }
    .caption-wrap {
        bottom: 0;
    }
    .buttons {
        right: 0;
    }
}
